body {background-color: #ffffe6}

h1 {font-family: "Garamond", serif; 
	color:#ff0066;
	font-size:3em;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-style:wavy;
	text-decoration-color: #ff6666;}

h2 {font-family: "Garamond", serif;
	color:#00cc44;
	font-size: 2em;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color:#00802b;  }

h3 {font-family: "Garamond", serif;
	color: #cc9966;
	font-size: 2em;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: #734d26;
	text-decoration-style: solid; }

table {margin: 3px;
	width: 100%;
	background-color: #ffb3ff;}

th {font-size: 10px;
	color: #0059b3;
	padding: 10px;
	text-decoration-line: underline;
	text-decoration-color:#000000; }

td {font-size: 10px;
	padding: 10px;}

p {font-family: "Georgia", serif;
	text-align: justify-all;}
